:root {
    --fg-color: #171717;
    --bg-color: #FFFFFF;
    --border-color: #e8e6e6;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--fg-color, #171717);
    background-color: var(--bg-color, #FFFFFF);
    max-width: 1366px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}


.h00, .h0, h1, .h1, h2, .h2 {
    font-weight: 400;
    font-family: 'Fira Sans Condensed', sans-serif;
}

h3, .h3, h4, .h4 , h5, .h5, h6, .h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.border, .border-top, .border-bottom {
    border-color: var(--border-color);
}

a {
    color: var(--fg-color, #171717);
    font-weight: 500;
}

.text-big {
    font-size: var(--h2);
}

.main-container {
    max-width: 1366px;
    /* margin: 0 auto; */
    margin: 0 auto 3rem auto;
}

li {
    margin: 0.5rem 0;
}

/* .main-container > * + * {
    margin-top: 1.5rem;
  } */


footer.main-footer {
    margin-top: auto;
}

.md-switch-order { order: 99999;}
@media (min-width: 64em) {
    .md-switch-order {
        order: 0;
    }
}

@media (max-width: 30em) {
    body {
        hyphens: auto;
        word-break: break-word;
    }
    
    .h00 {
        font-size: calc( var(--h00) - 0.8rem);
    }

    .text-big {
        font-size: calc( var(--h2) - 0.16rem);
    }

    .main-header .mdc-button {
        padding: 0 7px;
        height: 26px;
        font-size: 12px;
    }

    .main-header .main-logo {
        max-width: 70px;
    }

    .main-header .gitlab-logo {
        max-width: 25px;
    }
    
  }

@media (max-width:1023px) {
    .visible-only-lg {
        display: none;
    }
}

.logo-wrapper img {
    max-height: 4.2rem;
}

.logo-high img {
    max-height: 6rem;
}

@media print {
    margin: 1cm;
    .logo-wrapper {
        break-inside: avoid-page;
    }
}