<footer class="p2 main-footer">
    <nav class="flex flex-wrap justify-between" aria-label="footer navigation">
        <div class="flex flex-wrap justify-between col-12 md-col-5">
            {{ range .Site.Menus.footer }}
                {{ if .HasChildren }}
                    <div class="{{ .Params.class }} px1">
                        <div class="mt2 pb1 h5">{{ .Name }}</div>
                        {{ range .Children }}
                            {{ if eq (hasPrefix .URL "mailto:") true }}
                                <a href="{{ .URL }}" class='block pb1'>{{ .Name }}</a>
                            {{ else }}
                                <a href="{{ .URL | relLangURL }}" class='block pb1'>{{ .Name }}</a>
                            {{ end }}
                            
                        {{end}}
                    </div>
                {{end}}
            {{end}}

            {{ if .Site.IsMultiLingual }}
                <div class="px1">
                    <div class="mt2 pb1 h5">{{ i18n "language" }}</div>
                    {{ range .Site.Languages }}
                        {{ if eq . $.Site.Language }}
                            <span class="block pb1 bold">{{ .LanguageName }}</span>
                        {{ end }}
                    {{ end }}
                    {{ range $.Translations }}
                        <a class="block" title="{{ .Language.LanguageName }}" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
                    {{ end }}
                </div>
            {{ end }}
        </div>
        
        <div class="md-flex items-center col-12 md-col-5 center justify-end">
            <div class="px1">
                <div class="mt2 pb1 h5">{{ i18n "funded" }}</div>
                <img src="images/bmbf-logo.svg" alt="BMBF logo">
            </div>
        </div>
        
    </nav> 

</footer>