<header class="p2 main-header">
  <nav class="flex items-center justify-between flex-wrap" aria-label="main navigation">
    <a href="{{ "/" | relLangURL }}" class="main-logo mr1 block">
      <img src="{{ print "images/" .Site.Params.logo | absURL }}" alt="os-aps logo" class="block">
    </a>
    <div class="flex items-center flex-wrap">
      {{ range .Site.Menus.main }}
        {{ if eq (hasPrefix .URL "mailto:") true }}
          <a href="{{ .URL }}" class="mdc-button {{ .Params.class }}">{{ .Name }}</a>
        {{ else }}
          <a href="{{ .URL | relLangURL }}" class="mdc-button {{ .Params.class }}">{{ .Name }}</a>
        {{ end }}
      {{ end }}
      <a href="https://gitlab.com/os-aps/" title="Source code (GitLab)" class="ml2 gitlab-logo" target="_blank" rel="noopener">
        <img src="{{ print "images/" .Site.Params.logo_gl | absURL }}" alt="Gitlab logo" class="block">
      </a>
      <a href="https://twitter.com/os_aps" title="Twitter" class="ml2 gitlab-logo" target="_blank" rel="noopener">
        <img src="{{ print "images/" .Site.Params.logo_twitter | absURL }}" alt="Twitter logo" class="block">
      </a>
    </div>
    
  </nav>
</header>